<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="demo">
        姓: <input type="text" placeholder="First Name" v-model='firstName'><br>
        名: <input type="text" placeholder="Last Name" v-model='lastName'><br>
        姓名1(单项): <input type="text" placeholder="Full Name1" v-model='fullName1'><br>
        姓名2(单项): <input type="text" placeholder="Full Name2" ><br>
        姓名3(单项): <input type="text" placeholder="Full Name3" v-model='fullName3'><br>

        <p>{{fullName1}}</p>
        <p>{{fullName1}}</p>
        <p>{{fullName1}}</p>
        <p>{{fullName1}}</p>

        <p>{{fullName3}}</p>
        <p>{{fullName3}}</p>
        <p>{{fullName3}}</p>
        <p>{{fullName3}}</p>
        
    </div>
    <script src="http://cdn.bootcss.com/vue/2.6.10/vue.js" charset="utf-8"></script>

    <script>
        // 全局配置
        Vue.config.productionTip = false;

        const vm = new Vue({
            el: '#demo',
            data: {
                firstName: 'A',
                lastName: 'B',
                //fullName1:'A-B',
            },
            // 计算属性
            computed: {
                fullName1() {
                    return this.firstName + '-' + this.lastName;
                },
                fullName3: {
                    // 调用fullname3时 自动调用, 或 数据更改时
                    get() {
                        return this.firstName + '-' + this.lastName;
                    },
                    // 当给fullName3指定新的值时自动调用
                    set(value){
                        // 更新firstName 和 lastName
                        const names = value.split('-');
                        this.firstName = names[0];
                        this.lastName = names[1];
                    }
                }
            },


            watch: {
                // 当 firstName的值发生改变时调用
                firstName(value) {
                    // 更新fillName2
                    this.fullName2 = value + '-' + this.lastName 
                }
            },
        })

        vm.$watch('lastName',function (value) {
            
        })
    </script>
</body>

</html>